*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}
body
{
    font-family: Helventica Neue, Arial;
    font-size: 18px;
}
h1, h2
{
    color: #95e3fa;
}

h1 
{
    font-size: 40px;
    margin-bottom: 20px;
}

h2
{
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text
{
    text-align: justify;
    margin-bottom: 20px;
}

.author-text
{
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
    
}

.blog-post {
    
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #19b3eb;
}

.other {
    margin-bottom: 40px;
}

.author-box img
{
    height: 100px;
    width: 100px;
    border-radius: 60%;
    float: left;
}

.blog-post img
{
    height: 150px;
    width: auto;
}

.date{
    position: absolute;
    top: 10px;
    right: 0;
    padding: inherit;
}
.udlite-btn-primary:active, .udlite-btn-primary:hover {
    background-color: #094c59;
}



#btn {
  background: #33f5ee;
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #f4e9e9;
}